<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MusicBase</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="script/vue.js"></script>

</head>

<body>
    <div id="myApp">
        <!-- -----NAVBAR----- -->
        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand"><b>mUSICbASE</b></a>
                <form class="form-inline">
                  <input v-model="querySearch" v-on:keyup="searchFunction" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" placeholder="Search...">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
          </nav>
        <!-- --FINE NAVBAR----- -->

        <div id="trendSection" class="container">
            <div class="row mt-5 mb-3">
                <div class="col-10 ">
                    <h4>MUSICA DEL MOMENTO</h4>
                </div>
                <div class="col-2">
                   <h4>{{ today }}</h4> 
                </div>
            </div>
            <div class="row">
                <div v-for="(item, index) in trendObject" class="card mb-3 col-3 col-sm-3 col-lg-3 border-0" style="max-width: 540px;"   @mouseleave="singleRecordIndex = null" >
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img class="card-img-top" :src="item.thumb" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body my_card-body">
                                <h5 class="card-title">{{ item.title }}</h5>
                               
                                <p class="card-text" >info: <small class="text-muted" @mouseover="infoDisco($event); singleRecordIndex = index" >{{ item.master_id}}</small></p>
                            </div>
                        </div>
                    </div>

                    <div class="my_overlay_card" v-if="singleRecordIndex === index"
                    >
                    <span class="white card-text" v-for="item in masterObject['styles']"> {{ item}} / </span>
                    <p class="white card-text">Year: {{ masterObject.year}} </p>
                    <p class="white">Tracklist:</p>
                    <span class="white card-text tracklist" v-for="item in masterObject['tracklist']"> {{ item.title}} / </span>

                </div>
    
                </div>
            </div>
        </div>


        <!-- SEZIONE RICERCA -->
        <!-- LA SEZIONE SARÀ VISIBILE SOLO SE LA BARRA DI RICERCA CONTERRÀ DEL TESTO: -->
        <div id="searchSection" v-if= "querySearch" class="container mt-3">
            <div>
                <h3>La tua ricerca su {{ querySearch }}</h3>
            </div>

            <div id="navigator" class="mb-5">
                <p>{{ pageNumber }} / {{ totalPages }} -- Records: {{ items }}</p>
                <button v-if="pageNumber > 1" v-on:click="prevPage">PREV - </button>
                <button v-if="pageNumber < totalPages" v-on:click="nextPage">NEXT + </button>
                <button v-if="pageNumber < (totalPages-1)" v-on:click="lastPage">LAST</button>
                <button v-if="pageNumber > 2" v-on:click="firstPage">FIRST</button>
            </div>

<!-- ------------------------------------------------------------------------------------- -->
            <div class="row">
                <div v-for="(object, index) in objects" class="card mb-3 col-6 col-sm-6 col-lg-6 border-0" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img class="card-img-top" :src="object.thumb" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body my_card-body">
                                <h5 class="card-title">{{ object.title }}</h5>
                                <!-- <p class="card-text"> Info: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur dicta iste blanditiis ab placeat temporibus dolore beatae, quisquam officiis expedita consequuntur laboriosam, vitae a</p> -->
                                <p class="card-text"><small class="text-muted">{{ object.year }}</small></p>
                                <p class="card-text"><small class="text-muted">Master ID: {{ object.master_id }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!-- ---------------------------------------------------------------------------------------------- -->


        </div>
        <!-- ---FINE SEZIONE RICERCA -->



    </div> <!-- <--myApp div -->




    <!-- <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script> -->
    <script src="script/api_token.js"></script>
    <script src="script/script.js"></script>
</body>

</html>