* {
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style: none;
    display: inline;
}

.my_card-body {
    padding-top: 0;
}

/* button {
    width: max-content;
} */

/* .my_card {
    width: 180em;
} */