* {
    font-family: 'Montserrat', sans-serif;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

li {
    list-style: none;
    display: inline;
}

.my_card-body {
    padding-top: 0;
}
.tracklist {
    font-size:smaller; 
}

.my_overlay_card {

    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2%;
    opacity: 100%;
    width: 100%;
    height: 100%;

   transition-property: background-color; /*standard*/
   transition-duration: 1s;
   transition-timing-function: ease-out;
 
    overflow: auto;
}

.my_overlay_card:hover {
    background-color: #ff5c00;
}

.white {
    color: white;
}

.my_cursor {
    cursor: -webkit-grabbing; cursor: grabbing;
}

.prefer {
    background-color: red;
}

/* button {
    width: max-content;
} */

/* .my_card {
    width: 180em;
} */